#!/bin/bash
cat <<EOF
{
  "name" : "solr",
  "solr_master": "{{ solr.master.enabled | bool | ternary('true', 'false') }}",
  "solr_slave": "{{ solr.slave.enabled | bool | ternary('true', 'false') }}",
  "solr_slave_master_url": "{{ solr.slave.master_url }}",
  "version" : "{{ solr_version }}",
  "date" : "{{ current_timestamp }}"
}
EOF
